*{
	margin: 0;
	padding: 0;
}

#exp-name {
    width: 1500px;
    text-align: center;
    padding: 10px;
    height: 20px;
    color: #2C99CE;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid #333;
}
.left {
    padding-top: 20px;
    padding-left: 0px;
    float: left;
    width: 1120px;
    height: 570px;
    display: block;
}

#simulation {
    height: 590px;
    width: 1518px;
    display: inline-block;
}
.right {
   
    margin-top: 20px;
    margin-right: 10px;
    float: right;
    border-radius: 5px;
    background: rgb(220, 221, 148);
    width: 350px;
    height: 550px;
    text-align: center;
    display: block;
}
.right_btn {
    height: 35px;
    width: 220px;
    font-size: 20px;
    cursor: pointer;
    background: white;
    font-weight: 500;
    background: #5433FF;
    border: 2px solid #5433ff;
    box-shadow: 0 16px 22px -17px #03153B;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 20px;
}

.right_btn:hover {
    background-color: #ffffff;
    color: #5433FF;
}


.panel {
    padding: 20px 0px 10px 20px;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Muli';
    text-align: justify;
    overflow: hidden;
    height: auto;
    width: 320px;
    max-width: calc(100% - 10px);

}

.img {
    display: flex;
}

.panel img {
    height: 180px;
    width: 260px;
}
.panel button.close-btn:focus {
    outline: none;
}
.close-btn {
    border: 0;
    color: rgb(255, 5, 5);
    background-color: #fff;
    font-weight: 1200;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    top: 5px;
    right: 10px;
    border-radius: 15px;
    
}

.panel button.close-btn:focus {
    outline: none;
}

.Button-data {
    position: fixed;
    right: 0;
    bottom: 50px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    overflow: hidden;
    z-index: 999;
}

.Button-data.visible {
    transform: translateX(-10px);
}

li::marker {
    font-weight: bold;
}

h1 {
    font-family: sans-serif;
    font-size: 42px;
    color: #fff;
    margin-top: 20px;
}


#mid {

    position: absolute;
    height: 470px;
    width: 1120px;
    border: 2px solid #d39538;   
    box-shadow: 3px 4px 6px #888888; 
    border-radius: 6px;
    background-color: #f2f2f2;
    background-image: url('../images/desk2.jpg');
}

.mytable
{
    position: absolute;
    top: 100px;
    left: 920px;
}

#table
{position: absolute;
    width: 340px;
    height: 380px;
    top: 100px;
    left: 50px;

}
th
{
width: 70px;
height: 30px;
}
.cell
{
    width: 50px;
    height: 20px;
    border:1px solid black;
    border-radius: 4px;
    text-align: center;
}
.cell1
{
    width: 70px;
    height: 20px;
    border:1px solid black;
    border-radius: 4px;
    text-align: center;
}

#board {
    position: absolute;
    margin: 2px 0px 5px 5px;
    height: 300px;
    width: 900px;
    border-radius: 5px;
    border: 3px solid #d6d3d3;
    box-shadow: 3px 4px 6px #888888;
    background-image: url('../images/board.png');
    display: block;
    visibility: hidden;
}


/* Components */

#led {

    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 57px;
    left: 736px;
}
#led1 {
    background-size: cover;
    display: inline-block;
    visibility: hidden;
        position: absolute;
    top: 57px;
    left: 628px;
}
#supply {
    height: 110px;
    width: 192px;
    background-image: url('../images/supply.png');
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    margin: 330px 0px 5px 20px;

}




#ic741{position: absolute;
    height: 154px;
    width: 57px;
    top:74px;
    left:387px;
   /* background-image: url('images/ic7408.png');*/
    display: inline-block;
    visibility: hidden;
}
#ic1
{
    position: absolute;
    top:5px;
}
#inputs {
    height: 40px;
    width: 110px;   
    display: inline-block;
    visibility: hidden;
}



/* Right Components Code here */

#instruction:hover {
        background-color: #7CFC00;
        color: #000;
}
    #instruction

    {   top:30px;
        margin-left: 1090px;
        position: absolute;
        width:150px;
        height:30px;
        color: #fff;
        background-color: #262626;
        border-radius: 6px;
        font-size: 18px;
    }
    
.dropdown-content {
  display: none;
  position: absolute;
  margin-left:910px;
  margin-top: 50px;
  background-color: #fff;
  width: 400px;
  height: 500px;
  border:4px;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,1,1);
  /*z-index: 100;*/
  padding: 10px;
  overflow: auto;
}
.dropdown-content a:hover {background-color: #ddd}
.show {display:block;}
a
{
    color: red;
}
.components                                            /*      fieldset position  */
{   
    display: inline-block;
    width:260px;
    height:455px;
    border-radius: 5px;
    box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
    background: rgb(243, 236, 236);  
    visibility: hidden;
    top:140px;
    left:1225px;
    font-size: 18px;
    font-family: sans-serif;
    z-index:10;
}

#breadbutton                                                      /*     breadboard button  */
{   width: 150px;
    height:40px;
    background: #5433FF;
    border: 2px solid #5433ff;
    border-radius: 10px; 
    margin-top: 15px;
    left:1265px;
    color: #fff; 
}
#breadbutton:hover          
{
    background-color: #ffffff;
    color: #5433FF;

}

#ic2button                                           /*      ic button  */
{width: 150px;
    height:40px;
    background: #5433FF;
    border: 2px solid #5433ff;
    border-radius: 10px; 
    margin-top: 5px;
    left:1265px;
     color: #fff;
}
#ic2button:hover                                       
{
    background-color: #ffffff;
    color: #5433FF;

}

#supplybutton                                            /*      supply button  */
{ width: 150px;
  height:40px;
  background: #5433FF;
  border: 2px solid #5433ff;
  border-radius: 10px;  
  margin-top: 5px;
  left:1265px;
  color: #fff;
}
#supplybutton:hover
{
    background-color: #ffffff;
    color: #5433FF;

}
#switchbutton                                         /*    switch button   */
{ width: 150px;
  height:60px;
  background: #5433FF;
 border: 2px solid #5433ff;
    border-radius: 10px;
 
  margin-top: 5px;
  left:1265px;
  color: #fff;
}
#switchbutton:hover
{
    background-color: #ffffff;
    color: #5433FF;

}
#capbutton                                                   /*      led button   */
{   width: 150px;
    height:60px;
    background: #5433FF;
    border: 2px solid #5433ff;
    border-radius: 10px; 
    margin-top: 5px;
    left:1265px;
    color: #fff;
}
#capbutton:hover
{background-color: #ffffff;
    color: #5433FF;

}

#resistancebutton                                                   /*      led button   */
{   width: 150px;
    height:40px;
    background: #5433FF;
    border: 2px solid #5433ff;
    border-radius: 10px;  
    margin-top: 5px;
    left:1265px;
    color: #fff;
  
}
#resistancebutton:hover
{
    background-color: #ffffff;
    color: #5433FF;

}
#myrange                                                 /*      led button   */
{   width: 150px;
    height:40px;
    border-radius: 10px; 
 position:absolute; 
    margin-top: 5px;
    margin-left:-60px;
   
}
#myrange1                                                 /*      led button   */
{   width: 150px;
    height:40px;
    border-radius: 10px; 
    position:absolute; 
    margin-top:5px;
    margin-left:25px;
   
}
#myrange2                                                 /*      led button   */
{   width: 150px;
    height:40px;
    border-radius: 10px; 
  position:absolute; 
    margin-top:30px;
    margin-left:15px;
}
#myrange3                                                 /*      led button   */
{   width: 150px;
    height:40px;
    border-radius: 10px; 
    position: absolute;
    margin-top:35px;
    margin-left:-70px;
}
#myrange4                                                 /*      led button   */
{   width: 150px;
    height:40px;
    border-radius: 10px; 
    position: absolute;
    margin-top:65px;
    margin-left:-70px;
}

#v1
{
    position: absolute;
    margin-top: 16px;
    font-size: 15px;
    font-weight: bolder;
    margin-left:40px;
}

#v2
{
    position: absolute;
    margin-top:49px;
    font-size: 15px;
    font-weight: bolder;
    margin-left:40px;
}

#v3
{
    position: absolute;
    margin-top: 86px;
    font-size: 15px;
    font-weight: bolder;
    margin-left:40px;
}

#v4
{
    position: absolute;
    margin-top: 83px;
    font-size: 15px;
    font-weight: bolder;
    margin-left:40px;
}
.bottom {
    position: absolute;

    height: 60px;
    text-align: center;
    top:550px;
    width:1120px;
}

.bottom button {
    margin: 10px 10px 10px 10px;
    height: 40px;
    width: 170px;
    font-size: 15px;
    border: none;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    border-color: black;
    
}

#checkbutton                                      /*      check connections buttton  */
{  
    border: 2px rgb(0, 168, 8) solid;
    background: rgb(0, 168, 8);
    font-weight: bolder;
}
#checkbutton:hover                                  
{
    color: rgb(0, 168, 8);
    background: white;
    font-size: 16px;

}
#startbutton                                          /*      start button   */
{  border: 2px #5433FF solid;
    background: #5433FF;
    font-weight: bolder;
}
#startbutton:hover
{
    color: #5433FF;
    background: white;
    font-size: 16px;

}

#resetbutton                           /*reset button*/
{  border: 2px rgb(255, 54, 54) solid;
    background: rgb(255, 54, 54);    
    font-weight: bolder;

}
#resetbutton:hover 
{
    color: rgb(255, 54, 54);
    background: white;
    font-size: 16px;

}
#addtable                          /*reset button*/
{ border: 2px yellowgreen solid;
    background: yellowgreen;
    font-weight: bolder;

}
#addtable:hover 
{
    
    color: yellowgreen;
    background: white;
    font-size: 18px;

}

h3
{
    position: absolute;
    font-family:sans-serif;
    width:380px; 
    margin-left: 20px;
    font-style: bold;

}
button
{
    font-size: 18px;
    font-style: bold;
       cursor: pointer;
       font-family: serif;
}
footer
{
    position: absolute;    
    font-size: 18px;
    bottom: -600px;
    width: 1518px;
    height: 30px;
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
    color: #fff;
    background-color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    /*z-index:-1;*/
  }

u
{
    font-family: sans-serif;
}
strong
{position: absolute;
     top: 350px;
    font-size: 20px; 
     margin-left:70px;
}
.button
{
    margin-top: 170px;
    font-size: 15px;
     margin-left:70px;
border-radius: 4px;
    position: absolute;
    width: 150px;
    height: 30px;
    background-color: white;


}
.button:hover
{
    background-color: orange;
}

#resistance1
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 112px;
}
#resistance2
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 152px;
}
#resistance3
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 192px;
}
#resistance4
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 232px;
}
#resistance5
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 192px;
}
#resistance6
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 152px;
}
#resistance7
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 112px;
}
#chooseone
{
    position:absolute;
    width: 245px;
    height: auto;
    top:180px;
    left: 1205px;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
    background: rgb(243, 236, 236);
    align-items: center;
    color: #000;
    padding:10px;
    text-align: justify;

}

.radio-input
{
    font-weight: bolder;
    color: #000;
    font-size: 18px;
}
#showanother
{
    visibility: hidden;
    position: absolute;
    top:300px;
    left:600px;
    width:200px;
    height:150px;
    border: 2px solid orange;
    border-radius:4px ;
}
#cross
{position: absolute;
margin-left: 165px;
margin-top: -90px;}
#sel2
{
    position: absolute;
    margin-top: 10px;
}
#CursorLayer
{
    position: absolute; 
    margin-top: 470px;
    margin-left: 560px;
    background-color: pink;
    border-radius: 5px;
    border:2px solid brown;
    width: 570px;
    height:470px;
}

#display
{
    position: absolute;
    top:157px;
    left:980px;  
   /* z-index: 10;*/
border-radius: 5px;
  
  transition: transform .2s;


}

#display:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

    


    #power1
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 324px;
    left: 222px;
}
    #power2
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 324px;
    left: 392px;
}
    #power3
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 324px;
    left: 562px;
}
    #power4
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 324px;
    left: 642px;
}

#res1
{
     transition: transform .2s;
}

#res1:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#res2
{
     transition: transform .2s;


}

#res2:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#res3
{
     transition: transform .2s;


}

#res3:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#res4
{
     transition: transform .2s;


}

#res4:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#res5
{
     transition: transform .2s;


}

#res5:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#res6
{
     transition: transform .2s;


}

#res6:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#res7
{
     transition: transform .2s;


}

#res7:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}



#mytable
{
  position: absolute;
  top:720px;
  left:50px;
}
#mytable tr:nth-child(even){background-color: #f2f2f2;}

#mytable1
{
  position: absolute;
  top:720px;
  left:280px;
}
#mytable1 tr:nth-child(even){background-color: #f2f2f2;}

#mytable2
{
  position: absolute;
  top:720px;
  left:340px;
}
#mytable2 tr:nth-child(even){background-color: #f2f2f2;}

#mytable3
{
  position: absolute;
  top:720px;
  left:340px;
}
#mytable3 tr:nth-child(even){background-color: #f2f2f2;}
#one
{
  position:  absolute;
  top:9px;
  left: 25px;

}
#two
{
  position:  absolute;
  top:9px;
  left:25px;
}
#three
{
  position:  absolute;
  top:9px;
  left:25px;
}
#four
{
  position:  absolute;
  top:20px;
  left:23px;
  font-size: 24px;
  font-family: sans-serif;
}
.true
{
  color:#000;
  font-weight: bolder;
  font-size: 14px;
}
#heading1
{
  position: absolute;
  top:52px;
  left: 68px;
}
#heading2
{
  position: absolute;
  top: 52px;
  left: 68px;
}
#heading3
{
  position: absolute;
  top: 52px;
  left: 68px;
}

#figure1{
height: 250px;
width: 400px;
}
