#vertical
{
  position: absolute;
  top: 420px;
  left: 613px;
  z-index: 80;
  visibility: hidden;
}
#horizontal
{
  position: absolute;
  top: 425px;
  left: 890px;
  z-index: 80;
  visibility: hidden;
  
}
#exp-name {
    width: 1500px;
    text-align: center;
    padding: 10px;
    height: 20px;
    color: #2C99CE;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid #333;
}
.Button-data {
    position: fixed;
    right: 0;
    bottom: 50px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    overflow: hidden;
}

.Button-data.visible {
    transform: translateX(-10px);
}
.panel {
    right:5px;
    padding: 40px 0px 10px 20px;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Muli';
    overflow: hidden;
    height: auto;
    width: 320px;
    max-width: calc(100% - 10px);
    z-index: 20;
    text-align: justify;
    font-size: 13px;
}

.img {
    display: flex;
}

.panel img {
    height: 100px;
    width: 180px;
}
.panel button.close-btn:focus {
    outline: none;
}
.close-btn {
    border: 0;
    color: rgb(255, 5, 5);
    background-color: #fff;
    font-weight: 1200;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    top: 5px;
    right: 10px;
    border-radius: 15px;
    
}

.panel button.close-btn:focus {
    outline: none;
}
h1 {
    font-family: sans-serif;
    font-size: 42px;
    color: #fff;
    margin-top: 10px;
}
#simulation {
    height: 590px;
    width: 1518px;
    display: inline-block;
}

.left {
    padding-top: 20px;
    margin-left: 20px;
    float: left;
    width: 1000px;
    height: 700px;
    display: block;
}
#mid {
    position: absolute;
    height: 610px;
    width: 1008px;
  
    box-shadow: 2px 4px 6px #262626;
    border-radius: 4px;
    background-color: #f2f2f2;
    background-image: url('../images/desk2.jpg');
}

#board {
    position: absolute;
    margin: 275px 0px 5px 38px;
    height: 300px;
    width: 900px;
    border-radius: 5px;
    border: 3px solid #d6d3d3;
    box-shadow: 3px 4px 6px #888888;
    background-image: url('../images/board.png');
    display: block;
    visibility: hidden;
}


/* Components */


#supply {
    height: 150px;
    width: 235px;
    background-image: url('../images/supply.png');
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    margin: 80px 0px 5px 160px;
 
}
#cro {
    position: absolute;
    height: 225px;
    width: 370px;
    background-image: url('../images/cro1.png');
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    margin: 10px 0px 0px 150px;
 
}



#ic741{position: absolute;
    height: 153px;
    width: 57px;
   top:74px;
   left:346px;
  
    display: inline-block;
    visibility: hidden;
}
#ic1
{
    position: absolute;
    top:5px;
}


#ic7411{position: absolute;
    height: 153px;
    width: 57px;
   top:74px;
   left:481px;

    display: inline-block;
    visibility: hidden;
}
#ic2
{
    position: absolute;
    top:5px;
}

/* Right Components Code here */

.right {
    z-index:-1;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    border-radius: 5px;
    background: rgb(220, 221, 148);
    width: 410px;
    height: 680px;
    text-align: center;
    display: block;
}

#instruction:hover {
    background-color: #ffffff;
    color: #5433FF;
}
    #instruction

    {    position:absolute;
        top:90px;
        left: 1210px; 
        position: absolute;
        width:150px;
        height:30px;
        color: #fff;
        background: #5433FF;
        border: 2px solid #5433ff;
        border-radius: 6px;
        font-size: 16px;
        z-index:1; 
    }

.dropdown-content {
  display: none;
  position: absolute;
  margin-left:920px;
  margin-top: 50px;
  background-color: #fff;
  width: 410px;
  height: 610px;
  border:4px;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,1,1);
  z-index: 81;
  overflow: auto;
  padding: 10px;
}
.dropdown-content a:hover {background-color: #ddd}
.show {display:block;}
a
{
    color: red;
}
.right_btn {
    height: 40px;
    width: 220px;
    font-size: 20px;
    cursor: pointer;
    background: white;
    font-weight: 500;
    background: #5433FF;
    border: 2px solid #5433ff;
    box-shadow: 0 16px 22px -17px #03153B;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 20px;
}

.right_btn:hover {
    background-color: #ffffff;
    color: #5433FF;
}

.components                                            /*      fieldset position  */
{   position: absolute;
    display: inline-block;
    box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
    background: rgb(243, 236, 236);
    align-items: center;
    width:300px;
    height:450px;
    border-radius: 5px;
    top:130px;
    left:1133px;
    font-size: 20px;
    font-family: sans-serif;
}

#breadbutton                                                      /*     breadboard button  */
{   width: 150px;
    height:40px;
    background: #5433FF;
    border: 2px solid #5433ff;
    border-radius: 10px;
    position: absolute;
    margin-top: 25px;
    left:80px;
    color: #fff;
    
}
#breadbutton:hover          
{
    background-color: #ffffff;
    color: #5433FF;

}

#ic2button                                           /*      ic button  */
{   width: 150px;
    height:40px;
    background: #5433FF;
    border: 2px solid #5433ff;
    border-radius: 10px;
    position: absolute;
    margin-top: 75px;
    left:80px;
    color: #fff;
}
#ic2button:hover                                       
{
    background-color: #ffffff;
    color: #5433FF;

}

#supplybutton                                            /*      supply button  */
{   width: 150px;
    height:60px;
    background: #5433FF;
    border: 2px solid #5433ff;
    border-radius: 10px;
    position: absolute;
    margin-top: 35px;
    left:80px;
    color: #fff;
}
#supplybutton:hover
{
    background-color: #ffffff;
    color: #5433FF;

}
#switchbutton                                         /*    switch button   */
{   width: 150px;
    height:40px;
    background: #5433FF;
    border: 2px solid #5433ff;
    border-radius: 10px;
    position: absolute;
    margin-top: 65px;
    left:80px;
    color: #fff;
}
#switchbutton:hover
{
    background-color: #ffffff;
    color: #5433FF;

}
#resistancebutton                                                   /*      led button   */
{   width: 150px;
    height:40px;
    background: #5433FF;
    border: 2px solid #5433ff;
    border-radius: 10px; 
    position: absolute;
    margin-top: 85px;
    left:80px;
    color: #fff;
}
#resistancebutton:hover
{
    background-color: #ffffff;
    color: #5433FF;

}

#diodes                                                  /*      led button   */
{   width: 150px;
    height:40px;
    background: #5433FF;
    border: 2px solid #5433ff;
    border-radius: 10px; 
    position: absolute;
    margin-top: 95px;
    left:80px;
    color: #fff;
}
#diodes:hover
{
    background-color: #ffffff;
    color: #5433FF;

}
#capacitor                                                 /*      led button   */
{   width: 150px;
    height:60px;
    background: #5433FF;
    border: 2px solid #5433ff;
    border-radius: 10px; 
    position: absolute;
    margin-top: 105px;
    left:80px;
    color: #fff;
}
#capacitor:hover
{
    background-color: #ffffff;
    color: #5433FF;

}


#checkbutton                                      /*      check connections buttton  */
{   width: 130px;
    height:52px;
    border: 2px rgb(0, 168, 8) solid;
    background: rgb(0, 168, 8);
    border-radius: 10px;
    position: absolute;
    top:680px;
    left:100px;
    font-weight: bolder;
}

#checkbutton:hover                                  
{
    color: rgb(0, 168, 8);
    background: white;
    font-size: 18px;

}
#startbutton                                          /*      start button   */
{   width: 130px;
    height:52px;
    border: 2px rgb(0, 168, 8) solid;
    background: rgb(0, 168, 8);
    border-radius: 10px;
    position: absolute;
    top: 680px;
    left: 400px;
    font-weight: bolder;

}
#startbutton:hover
{
    color: rgb(0, 168, 8);
    background: white;
    font-size: 18px;

}
#resetbutton                           /*reset button*/
{   width: 130px;
    height:52px;
    border: 2px rgb(255, 54, 54) solid;
    background: rgb(255, 54, 54);
    border-radius: 10px;
    position: absolute;
    top: 680px;
    left: 250px;
    font-weight: bolder;

}
#resetbutton:hover 
{
    color: rgb(255, 54, 54);
    background: white;
    font-size: 18px;

}
#addtable                          /*reset button*/
{   width: 130px;
    height:52px;
    border: 2px rgb(255, 54, 54) solid;
    background: rgb(255, 54, 54);
    border-radius: 10px;
    position: absolute;
    top:680px;
    left: 550px;
    font-size: 18px;

}
#addtable:hover 
{
    color: rgb(255, 54, 54);
    background: white;
    font-size: 18px;

}

h3
{
    position: absolute;
    font-family:sans-serif;
    width:380px; 
    margin-left: 20px;
    font-style: bold;

}
button
{
    font-size: 19px;
    font-style: bold;
    cursor: pointer;
    font-family: serif;
}
footer
{
    position: absolute;
    top:940px;
    left:20px;
    font-size: 18px;}
u
{
    font-family: sans-serif;
}
strong
{position: absolute;
     top: 350px;
    font-size: 20px; 
     margin-left:70px;
}
.button
{
    margin-top: 170px;
    font-size: 15px;
    margin-left:70px;
    border-radius: 4px;
    position: absolute;
    width: 130px;
    height: 30px;
    background-color: white;

}
.button:hover
{
    background-color: orange;
}

#resistance1
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 112px;
}
#resistance2
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 152px;
}
#resistance3
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 192px;
}
#resistance4
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 232px;
}
#capacitor1
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 109px;
    left: 700px;
}

#diode1
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 130px;
    left: 589px;
}
#diode2
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 130px;
    left:643px;
}



#sel2
{
    position: absolute;
    margin-top: 10px;
}

#heading
{
    position: absolute;
    margin-top: 50px;
    margin-left: 10px;
    border:2px solid black;
    width:1320px;
    height:30px;
    visibility: hidden;
    border-radius: 4px;
    background-color: pink;
    color: red;
    font-weight: bolder;
    font-size: 22px;
}

    



  

#res1
{
     transition: transform .2s;
padding: 4px;
}

#res1:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#res2
{
     transition: transform .2s;
     padding: 5px;

}

#res2:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#res3
{
     transition: transform .2s;
     padding: 5px;

}

#res3:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#res4
{
     transition: transform .2s;
     padding: 5px;

}

#res4:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#mytable
{
  position: absolute; 
  top: 100px;
  left: 40px;
  font-weight: bolder;
  font-size: 18px;
}
#mytable1
{
  position: absolute; 
  top: 130px;
  left: 40px;
  font-weight: bolder;
  font-size: 18px;
}
#copyright {
    width: 1518px;
    height: 30px;
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
    color: #fff;
    background-color: #333;
    font-family: 'Raleway', sans-serif;
}